* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 1.5em;
  background-color: rgba(244, 244, 248);
}

.app-header {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  padding-bottom: 1.2em;
  margin-bottom: 1.2em;
  border-bottom: 1px solid rgb(194, 194, 194);

  /* background-color: #693f3f; */
}

.appName {
  font-size: 2.9rem;
  font-weight: 750;
  letter-spacing: 1px;

  padding-top: 1rem;

  align-self: center;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 130px;

  justify-content: center;
  gap: 10px;
}

.stat-card {
  /* flex-grow: 1; */
  padding: 0 20px;

  background-color: antiquewhite;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.income-container {
  color: white;
  background-color: rgba(27, 156, 116);
}

.expense-container {
  color: white;
  background-color: rgba(229, 81, 87);
}

.balance-container {
  color: black;
  background-color: rgba(203, 207, 215);
}

.stat-card .amount {
  font-size: 2rem;
  font-weight: 550;
}

.stat-card label {
  font-size: 1.1rem;
}

/* add input area styling */

.input-transactioBox-wrapper {
  padding-bottom: 1em;
  margin-bottom: 1em;

  border-bottom: 1px solid rgb(185, 191, 202);
}

.add-transaction {
  display: flex;
  flex-direction: column;

  border-radius: 12px;
  border: 1px solid rgb(185, 191, 202);
}

.transaction-header {
  height: 15%;
  font-size: 1.6rem;
  font-weight: 560;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 1px solid rgb(185, 191, 202);

  background-color: #ffffff;

  display: flex;
  align-items: center;

  padding: 20px 2rem;
}

.inputWrapper {
  padding: 2rem;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.532);

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.input-label-field-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;

  margin-bottom: 1rem;
}

.input-label-field-wrapper label {
  font-size: 1.1rem;
  color: #3a3a3a;
}

.input-label-field-wrapper .input-feild {
  height: 2.7rem;
  font-size: 1.1rem;

  border: 1px solid rgb(185, 191, 202);
  border-radius: 8px;
}

.dropDown {
  width: 30%;
  min-width: 230px;
  max-width: 350px;
  padding-left: 10px;

  /* cursor: pointer; */
}

.dropDown:focus {
  outline: 1px solid rgb(185, 191, 202);
}

.textBox {
  padding-left: 10px;
}

.textBox:focus {
  outline: 1px solid rgb(185, 191, 202);
}

.add-btn-con {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 0;
  border-top: 1px solid rgb(185, 191, 202);
}

.add-btn-con .addBtn {
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 13px 50px;

  color: white;
  background-color: rgba(37, 118, 229);

  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.add-btn-con .addBtn:active {
  box-shadow: 1px 1px 10px rgb(185, 191, 202);
}

/* the transaction list */

.list-title {
  font-size: 1.6rem;
  padding: 1rem 1rem;
}

.list-container {
  border-radius: 12px;
  border: 1px solid rgb(185, 191, 202);
}

.lists {
  list-style: none;
}

.lists .transaction {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 20px;

  color: rgba(35, 44, 54);
  font-size: 1.1rem;

  padding: 1em 1.2em;
  grid-template-columns: 2.5fr 6fr 4fr 7.5fr 1fr;
  border-bottom: 1px solid rgba(185, 191, 202, 0.57);
}

.lists .transaction .type {
  width: 80px;
  font-size: 1.1rem;
  text-align: center;
  color: white;

  padding: 7px;
  border-radius: 5px;
}

.lists .transaction .type.income {
  background-color: rgba(24, 154, 116);
}
.lists .transaction .type.expense {
  background-color: rgba(229, 78, 84);
}

.lists .transaction .name {
  justify-self: start;
  font-size: 1.1rem;
  font-weight: 550;
}

.lists .transaction .amount.expense {
  color: rgba(229, 78, 84);
}

.date-dis-container {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-content: space-between;

  align-items: center;
}

.lists .transaction .date {
  color: inherit;
  color: rgba(52, 74, 107);
}

.separator {
  display: none;
}

.lists .transaction .dltBtn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.lists .transaction .dltBtn .dltImg {
  height: 30px;
  opacity: 0.7;
}

@media (max-width: 760px) {
  .balance-container {
    grid-column: 1/3;
  }

  .input-label-field-wrapper {
    grid-template-columns: 1fr;
    gap: 10px;

    margin-bottom: 1.7rem;
  }

  .lists .transaction .type {
    translate: 0 50%;
  }
  .lists .transaction {
    padding: 1em;
    grid-template-columns: 2.5fr 6fr 3.2fr 1fr;
  }
  .date-dis-container {
    grid-row: 2/3;
    grid-column: 2/3;

    grid-template-columns: 1fr auto 1fr;
    gap: 10px;

    justify-items: center;
  }

  .separator {
    display: inherit;
  }

  .lists .transaction .date {
    justify-self: start;
  }
}

@media (max-width: 590px) {
  body {
    padding: 1rem;
  }

  .appName {
    font-size: 2.4rem;
  }

  .stats-container {
    grid-auto-rows: 115px;
  }

  .stat-card {
    padding: 0 15px;
  }

  .stat-card label {
    font-size: 1rem;
  }

  .stat-card .amount {
    font-size: 1.8rem;
  }

  .transaction-header {
    font-size: 1.3rem;
    letter-spacing: 1px;

    padding: 15px 1.3rem;
  }

  .inputWrapper {
    padding: 1.3rem;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .input-label-field-wrapper {
    margin-bottom: 1.5rem;
  }

  .input-label-field-wrapper label {
    font-size: 1rem;
  }

  .input-label-field-wrapper .input-feild {
    height: 2.1rem;
    font-size: 1rem;
  }

  .add-btn-con .addBtn {
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 10px 30px;
  }

  /* transaction list */
  .list-title {
    font-size: 1.3rem;
    padding: 10px;
  }

  .lists .transaction {
    gap: 10px;

    font-size: 1rem;

    padding: 10px 12px;
    grid-template-columns: 2.5fr 6fr 2.5fr 1fr;
  }

  .lists .transaction .type {
    width: 55px;
    font-size: 14px;

    padding: 7px;
  }

  .lists .transaction .name {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .date-dis-container {
    width: 100%;
    font-size: 14px;
    gap: 5px;
  }

  .lists .transaction .amount {
    font-size: 15px;
  }

  .lists .transaction .dltBtn .dltImg {
    height: 25px;
  }
}
